#allmap {
	height:500px;
}
#rightbar{
	 position:absolute;
     display:block;
	 float:right;
	 z-index: 999;
	 top:550px;
	 right:20px;
	 height:420px;
	 width:300px;
	 overflow-y:auto;
    }
.treeview {
	font-size:10px;
}    
.treeview .list-group-item {
	cursor: pointer
}

.treeview span.indent {
	margin-left: 10px;
	margin-right: 10px
}

.treeview span.icon {
	width: 12px;
	margin-right: 5px
}

.treeview .node-disabled {
	color: silver;
	cursor: not-allowed
}


